<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Serv</servlet-name>
        <servlet-class>com.Aman.ServletDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenServlet</servlet-name>
        <servlet-class>com.Aman.GenServletDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpServlet</servlet-name>
        <servlet-class>com.Aman.HttpRequestDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurConverter</servlet-name>
        <servlet-class>com.Aman.CurrencyConverter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Factorial</servlet-name>
        <servlet-class>com.Aman.FactGen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table</servlet-name>
        <servlet-class>com.Aman.TableGen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cook1</servlet-name>
        <servlet-class>com.Aman.CookieDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cookie2</servlet-name>
        <servlet-class>com.Aman.CookieDemo2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Serv</servlet-name>
        <url-pattern>/alpha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenServlet</servlet-name>
        <url-pattern>/beta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpServlet</servlet-name>
        <url-pattern>/gama</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurConverter</servlet-name>
        <url-pattern>/cur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Factorial</servlet-name>
        <url-pattern>/fact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table</servlet-name>
        <url-pattern>/table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cook1</servlet-name>
        <url-pattern>/cd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookie2</servlet-name>
        <url-pattern>/cd2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
